---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Particles from '../components/Particles.astro';
import { SITE_TITLE } from '../consts';
import '../styles/text.css';


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
		<Particles/>
		<style>
			body {
				height: 100vh;
			}
			main {
				width: 100%;
				height: -webkit-fill-available;
				height: 75vh;
				margin: 20px;
				gap: 20px;
				display: flex;
				justify-self: center;
				justify-content: center;
				flex-direction: row;
			}
			#main-left, #main-right {
				width: 50%;
				max-width: 500px;
				padding: 20px 20px;

				background-color: #2b2b2b3b;
				backdrop-filter: blur(5px);
				/* overflow: hidden; */
			}
			#main-left {
				overflow-y: scroll;
			}
			#main-right {
				max-height: fit-content;
				display: flex;
				flex-direction: column;
			}

			.entrylist-title {
				margin-bottom: 20px;
				/* text-decoration: underline; */
			}
			.entrylist {
				height: -webkit-fill-available;
			}

			/* blogpost list entries*/
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(100% - 1rem);
				background-color: var(--background-light);
				transition-duration: 0.2s;
				transition-property: background-color;
			}
			ul li:hover {
				background-color: var(--primary-darkest);
			}
			
			ul li * { /* every element inside the blog card */
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				border-left: 5px solid var(--primary);
			}

			ul li:first-child .date {
				color: var(--primary);
			}
			ul li:first-child .title {
				color: var(--primary);
			}

			.thumbnail {
				margin-left: auto;
			}
			ul li a {
				display: flex;
			}
			.cardText {
				padding: 10px;
			}
			.title {
				margin: 0;
				margin-bottom: -7px;
				color: var(--primary);
				line-height: 1;
			}
			.date {
				margin: 0;
				color: var(--gray);
				font-size: 16px;
			}

			@media only screen and (max-width: 800px) {
				main {
					width: 100%;
					height: auto;
					flex-direction: column;
					padding: 1em;
				}
				#main-left, #main-right {
					width: auto;
					max-width: 100%;
				}
			}
		</style>



	</head>
	<body>
		<Particles />
		<Header />
		<main>
			
			<div id="main-left">
				<h2>About Me</h2>
				<p>
					I dont know how you found this place but... welcome.
					<br><br>
					Who am i? Im a lonely loser trying to find a sense of purpose and belonging in life. Im documenting my thoughts and journey on this website. Feel free to look through everything, im an open book. Maybe someone will get something out of this.
					<br><br>
					I really want to fill this blog journal thingy with more personality and *style* in the future. I still have to learn working with Astro and maybe other webdev tools. Im trying out new things. But for now, this will suffice.
				</p>
				<div style="display: flex; flex-direction: row;">
					<!-- <img src="images/art/king rules.png" loading="lazy"> -->
				</div>
			</div>
			<div id="main-right">
				<h2 class="entrylist-title">My Journal</h2>
				<section class="entrylist scrollable">
					<ul>
						{
							posts.map((post) => (
								<li>
									<a href={`/blog/${post.id}/`}>
										<div class="cardText">
											<h3 class="title blogpost-title">{post.data.title}</h3>
											<p class="date">
												<FormattedDate date={post.data.pubDate} />
											</p>
										</div>
										
										{post.data.heroImage && (
											<Image class="thumbnail" height={80} src={post.data.heroImage} alt="" />
										)}
										
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</div">
			

		</main>
		<!-- <Comments /> -->
	</body>
	
</html>
