---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Cosmetic from '../components/Cosmetic.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { getRandomInt } from '../scripts/util';
import '../styles/text.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
const page = Astro.props;

const posts = (await getCollection('blog')).reverse();
const randomPost = posts[getRandomInt(posts.length)];

// WARNING: this will fall apart if 2 posts have the same title
const currentPosts = await getCollection('blog', ({ data }) => {
  return data.title == title;
});

---

<!-- this is for the blog entry itself -->

<html lang="en">
	<head>
		<BaseHead title={title} />
		
		<style>
			main {
				/* width: calc(100% - 2em); */
				/* max-width: 100%; */
				margin: 0;
				margin-top: 30px;
				
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
			}

			article {
				width: -webkit-fill-available;
				max-width: 720px;
				max-height: 85vh;

				display: flex;
				flex-direction: column;
				align-items: center;
				
				overflow-y: auto;
				overflow-x: hidden;
				/* width: fit-content; */
			}

			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 0px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				max-width: -webkit-fill-available;
				
				margin: auto;
				padding: 1em 2em;
				color: var(--text-normal);
			}

			.title {
				margin-bottom: 0em;
				padding: 1em 0 0 0;
				text-align: center;
				line-height: 1;
			}

			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			.nav-buttons {
				display: flex;
				/* margin-top: var(--gap-large); */
				gap: var(--gap-large);

				width: fit-content;
			}

			.nav-button {
				padding: 5px 10px;

				background-color: var(--background-trans);
				transition-duration: 0.2s;
				transition-delay: 0.1s;
				transition-property: background-color;
			}
			.nav-button:hover {
				background-color: var(--primary-dark-trans);
				transition-duration: 0.0s;
				transition-delay: 0s;
			}

			.nav-buttons:first-child {
				padding-left: 0px;
			}
			.nav-buttons:last-child {
				padding-right: 0px;
			}

		</style>
	</head>

	<body>
		<Cosmetic/>
		<Header />
		<main>
			<article>
				<div class="prose anim-fadein anim-ease delay-200ms frosted-glass">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="blogpost-title">{title}</h1>
						<hr />
					</div>
					<slot /><!--  this is the article content -->
				</div>

				
			</article>
			<div class="nav-buttons">
				<!-- <a href={`/blog/${prevPost}/`} class="icon-button nav-button snd_slider_drag snd_click_open">
					<span class="material-symbols-sharp">chevron_left</span>
					<p>Previous</p>
				</a> -->
				<a href={`/blog/${randomPost.id}/`} class="icon-button nav-button snd_slider_drag snd_click_open">
					<span class="material-symbols-sharp">ifl</span>
					<p>Random</p>
				</a>
				<!-- <a href={`/blog/${nextPost}/`} class="icon-button nav-button snd_slider_drag snd_click_open">
					<p>Next</p>
					<span class="material-symbols-sharp">chevron_right</span>
				</a> -->
			</div>
		</main>
		<Footer />
	</body>
</html>
